@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --default-font:
        /*'Segoe UI'*/
        "Open Sans";
    --black-color: #292E33;
    --white-color: #ffff;
    --dark-blue-color: #005A7A;
    --light-blue-color: #2F91Fa;
}



.darkBlue-font {
    color: var(--dark-blue-color);
}

.lightBlue-font {
    color: var(--light-blue-color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    height: 100vh;
    font-family: var(--default-font);
    font-size: 1.6rem;
}


#background {
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
}

#background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-around;
    background: var(--black-color);
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 5px black;
    padding: 30px;
    z-index: 999;
}

img {
    width: 100%;
    height: 100%;
}

.logoContainer {
    width: 85px;
}

.nav-menu {
    display: flex;
    column-gap: 20px;
}

a {
    position: relative;
    display: block;
    color: var(--white-color);
    text-decoration: none;
    padding: 5px;
}

.nav-menu a::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    height: 2px;
    width: 0;
    background: rgb(255, 255, 255);
    transition: all 300ms ease-in-out;
}

.nav-menu a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 85px;
}


section,
main {
    height: 100vh;
    padding: 2rem;
}

#inicio {
    display: flex;
    color: var(--white-color);
    align-items: center;
    font-size: 2rem;
}

.main-text-container {
    display: flex;
    align-items: flex-start;
    row-gap: 15px;
    flex-flow: column;
    margin-left: 5%;
    padding: 20px;
    height: fit-content;
    width: 60%;
    background-color: #ffffff4d;
}

.facilita-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    column-gap: 2rem;
}

.facilita-section .text-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    row-gap: 2rem;
    max-width: 90rem;
    padding: 2rem;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 10px;

}

.facilita-section .text-container q {
    font-style: italic;
    font-weight: bold;
}

.text-container h2 {
    font-size: 8rem;
}

.text-container h3 {
    font-size: 3rem;
}

.text-container p {
    font-size: 2rem;
}


.facilita-section a {
    position: static;
    background-color: var(--light-blue-color);
    text-align: center;
    align-self: flex-end;
    width: 20rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.2rem 0.8rem rgba(0, 0, 0, 0.432);

}

.img-container {
    height: 40rem;
    width: 40rem;
    padding-top: 0.5rem;
    border-radius: 50%;
    background-color: var(--white-color);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.img-container img {
    object-fit: cover;
    border-radius: 50%;
}

.sol-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sol-section .text-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    row-gap: 2rem;
    max-width: 50rem;
    padding: 2rem;
    color: var(--white-color);
}

.sol-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: var(--white-color);
    color: var(--light-blue-color);
    align-self: flex-end;
    width: 20rem;
    height: 6rem;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.2rem 0.8rem rgba(0, 0, 0, 0.432);

}

.carousel-wrapper {
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.customer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    text-align: center;
    row-gap: 3.5rem;
    height: auto;
}

.gallery-wrapper {
    overflow: hidden;
    width: 45rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 2rem var(--light-blue-color);
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reports {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.3rem;
    justify-content: space-around;
    width: 100%;
    height: fit-content;

}

.report {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2.3rem;
    width: 35rem;
    height: 100%;
    padding: 3rem;
    color: var(--black-color);
    box-shadow: 0.1rem 0.1rem 2rem var(--light-blue-color);
    border: 1px solid var(--light-blue-color);
    border-radius: 1rem;
}

.report img {
    height: 25rem;
    width: 20rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    align-items: center;*/
}

.contact fieldset {
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    border: none;
    align-items: center;
}

.contact .text-container {
    align-self: center;
}

.contact-form {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
}

.form-field {
    height: 6rem;
    width: 60rem;
    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
}

.form-send-bnt {
    background-color: var(--white-color);
    color: var(--light-blue-color);
    width: 20rem;
    height: 6rem;
    padding: 1rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.2rem 0.8rem rgba(0, 0, 0, 0.432);
}

.form-field:focus {
    outline: none;
}

.form-field::placeholder {
    font-family: var(--default-font);
    text-indent: 1rem;
}

.contact .location-container {
    height: 35rem;
    width: 65%;
    grid-column: 1;
    justify-self: center;
    align-self: start;
}

.contact iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    padding: 5rem;
    background-color: var(--black-color);
}

.socials-menu-list {
    list-style: none;
    display: flex;
}

.socials-menu-list li a svg {
    width: 3rem;
    height: 3rem;
}

.blueBg {
    color: var(--white-color);
    background-color: var(--light-blue-color);
}

.whiteBg {
    color: var(--black-color);
    background-color: var(--white-color);
}